.product-card {
    background-color: #000000;
    border: 2px solid #00ff00;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px #00ff00;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
  }
  
  .product-card:hover {
    box-shadow: 0 0 30px #00ff00;
  }
  
  .product-card h3 {
    font-size: 20px;
    color: #00ff00;
    margin-bottom: 10px;
  }
  
  .product-card p {
    font-size: 16px;
    color: #00ff00;
    margin-bottom: 5px;
  }

  .image{
    width: 200px;
    height: 200px;
  }


  