.contacto-container {
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 50px #00ff00;
    text-align: center;
    margin: 40px auto;
    width: 800px
  }
  
  .contacto-container h2 {
    font-size: 40px;
    color: #00ff00;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 16px;
    color: #00ff00;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #00ff00;
    border-radius: 5px;
  }
  
  button {
    background-color: #00ff00;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #008600;
  }
  