/*NavBar y CartWidget*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    color: #00ff00;
    font-family: 'Courier New', monospace;
    text-shadow: 0 0 10px #00ff00;
    border-bottom: 3px solid #00ff00;
  }

  a{
    color: #00ff00;
  }
  
  .brand {
    display: flex;
    flex-direction: column;
  }
  
  .categories {
    list-style-type: none;
    display: flex;
    gap: 100px;
    padding: 0;
  }
  
  .categories li {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #222;
    color: #00ff00;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    text-shadow: 0 0 5px #00ff00;
  }
  
  .categories li:hover {
    background-color: #00ff00;
    color: #000;
    text-shadow: none;
  }
  
  .cart {
    display: flex;
    align-items: center;
  }
  
  .cart img{
    width: 30px;
  }
  
  .notification {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 5px;
    margin-left: 5px;
  }
  
  .cart:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #00ff00;
    transition: box-shadow 0.3s ease-in-out;
  }

  /*Sub-Categories*/

  .sub-categories {
    display: none;
    position: absolute;
    background-color: #000000;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    list-style: none;
  }
  
  .categories li:hover .sub-categories {
    display: block;
    text-align: center;
  }

  li a:hover{
    color: black;
    cursor: pointer;
  }